<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- EXPERIMENT exp/iap-proof: debug-only probe, launched from adb. Never in a release build. -->
    <application>
        <activity
            android:name=".IapProbeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.Dialog" />
    </application>
</manifest>
